<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="MSC list" [options]="false" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Site Identifier</th>
                            <th>Site Name</th>
                            <th>Rooms</th>
                            <th>Zones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td></td>
                        <td>MSC CHARGUIA </td>
                        <td></td>

                    </tbody>

                </table>
            </div>
        </app-card>
    </div>
</div>